.headerLogin {
    list-style: none;
    margin: 0;
    background: blue;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.headerLogin a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.headerLogin a:hover {
    background: #00b7f5;
}

@media all and (max-width: 800px) {
    .headerLogin {
        justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .headerLogin {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .headerLogin a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(253, 255, 251, 0.3);
        border-bottom: 1px solid rgb(253, 255, 251);
    }

    .headerLogin li:last-of-type a {
        border-bottom: none;
    }
}

#loginSection {
    display: flex;
    -webkit-flex-flow: row;

}

.loginField {
    display: inline-block;
}

#loginSection label {
    display: block;
    /*text-align: left;*/
}

#mainArea {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 3% 0 10%;
}

#mainStory li h2 {
    display: inline-block;
    color: #717171;
    font-size: x-large;
}

#mainStory small {
    font-size: large;
}

#signupForm {
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#emailUser input, #submitButton input, #passwordNew input, #passwordConfirm input {
    width: 99%;
}

#submitButton input{
    background: green;
    color: white;
    text-decoration: solid;
    height: 3em;
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#gender {
    display: flex;
}