.header {
    margin: 0;
    background: blue;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
}

.header--anon {
    justify-content: space-between;
}

.header__section {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.header__link {
    text-decoration: none;
}

.title--header {
    color: white;
}

@media all and (max-width: 800px) {
    .header {
        justify-content: space-around;
    }
}

.loginSection {
    display: flex;
    -webkit-flex-flow: row;
}

.loginSection__field {
    display: inline-block;
}

.loginSection__label {
    display: block;
}

.mainArea {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 3% 0 10%;
}

.listItem__text {
    color: #717171;
}

.signupForm {
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.signupForm__input--wide {
    width: 99%;
}

.signupForm__birthDay {
    display: flex;
    flex-direction: column;
}

.signupForm__birthDay--selector {
    display: flex;
}

.signupForm__gender {
    display: flex;
}

.signupForm_input--button {
    background: green;
    color: white;
    text-decoration: solid;
    height: 3em;
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.image--header {
    height: auto;
    width: 60px;
    flex-basis: auto;
}

.header__searchBar {
    width: 30em;
}

.header__section--userName {
    flex-grow: 1;
    text-align: right;
}

.header__link--userName {
    color: white;
}